@model CRUDLibrary.Domain.Models.AllAuthorsResponse

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>
@if (ViewBag.Errors != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @foreach (var error in ViewBag.Errors)
        {
            <p>@error.MESSAGE</p>
        }
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div id="ErrorMessages" class="alert-message-div"></div>
<p>
    <a class="btn btn-success" asp-action="Add">Add New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Born
        </th>
        <th>
            Died
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.AUTHORS) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BORN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIED)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@item.ID">Edit</a> |
                <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@item.ID">Details</a> |
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>