@model CRUDLibrary.Domain.Models.AllBooksResponse

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<p>
    <a class="btn btn-success" asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
               Genre
            </th>
            <th>
                Publication Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BOOKS) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUB_DATE)
            </td>
            <td>
                    <a class="btn btn-sm btn-warning" asp-action="Update" asp-route-id="@item.ID">Edit</a> |
                    <a class="btn btn-sm btn-primary" asp-action="View" asp-route-id="@item.ID">Details</a> |
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
